.favorites-container {
    overflow-y: overlay;
    padding: 1rem 2rem var(--height-current-track-image) 1rem;
    width: 100%;
    position: relative;
}

.favorites-container::-webkit-scrollbar {
    background: none;
    scrollbar-gutter: stable both-edges;
}

.favorites-container::-webkit-scrollbar-thumb {
    background-color: rgb(var(--SPOTIFY_GREY));
}
