.playlist-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.playlist-info-image {
    height: 192px;
    width: 192px;
}

@media (min-width: 1280px) {
    .playlist-info-image {
        height: 232px;
        min-width: 232px;
        width: 232px;
    }
}

.playlist-info-text-container {
    display: flex;
    flex-direction: column;
}

.colomn-titles-container {
    border-bottom: 1px solid transparent;
}

.mentions-aime::before,
.total-tracks::before {
    content: '•';
    margin: 0px 4px;
}
