.list-section-container {
    display: flex;
    flex-direction: column;
}

.colomn-titles-container {
    display: grid;
    border-bottom: 1px solid transparent;
    grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(
            120px,
            1fr
        );
}

.list-item-container {
    list-style: none;
    display: grid;
    grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(
            120px,
            1fr
        );
}
