@import url('../../Constants/Constants.css');

.cards-section {
    font-size: 1.6rem;
    text-overflow: ellipsis;
    list-style: none;
    position: relative;
}

.cards-section > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
}

.cards-section > div a:first-child {
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    margin-block: 1rem;
}

.cards-section > div a:nth-child(2) {
    margin-left: 0.5rem;
}

.cards-section > div a {
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.cards-section > div a.disabled {
    pointer-events: none;
}

.cards-section > div a:hover {
    text-decoration: underline;
}
