.list-of-cards-container {
    display: flex;
    overflow-x: hidden;
    width: 100%;

    scroll-behavior: smooth;

    --grid-gap: 24px;
    --column-count: 10;
    --min-container-width: 366px;

    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
    min-width: var(--min-container-width);

    overflow-x: scroll;
}

.list-of-cards-container::-webkit-scrollbar {
    display: none;
}
