@import url('../../Constants/Constants.css');

.real-cards-container {
    display: flex;
    gap: 24px;
    min-height: 204px;
    width: 100%;
}

.real-cards-container > * {
    width: 0;
    flex: 1 1 0;
}

.real-cards-container.hidden {
    display: none;
}

.card {
    padding: 1.6rem;
    background-color: #181818;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    max-width: 250px;
    opacity: 0;
    animation: fadeInImg 300ms forwards;
}

.cardPlaceholder {
    padding: 1.6rem;
}

@keyframes fadeInImg {
    to {
        opacity: 1;
    }
}

.card:hover {
    background-color: #282828;
}

.card p {
    margin-block: 1rem;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card:hover button {
    opacity: 1;
    bottom: 8px;
}

.artist img {
    border-radius: 100%;
}

.artist-names {
    color: rgb(var(--SPOTIFY_LIGHT_GREY));
}
