@import url('../../Constants/Constants.css');

.loading-card-container {
    display: flex;
    gap: 24px;
    min-height: 204px;
    width: 100%;
}

.loading-card-container > * {
    width: 0;
    flex: 1 1 0;
}

.loading-card-container.hidden {
    display: none;
}

.loading-card-container > div {
    padding: 1.6rem;
    background-color: #181818;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
    text-decoration: none;
    max-width: 250px;
    opacity: 0;
    animation: fadeInImg 300ms forwards;
}

@keyframes fadeInImg {
    to {
        opacity: 1;
    }
}

.loading-card-container > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.loading-card-img {
    width: 100%;
    aspect-ratio: 1;
    background: rgb(var(--SPOTIFY_GREY));
    border-radius: 1rem;
}

.loading-card-artist,
.loading-card-title {
    height: 1em;
    background: rgb(var(--SPOTIFY_GREY));
    border-radius: 1rem;
}

.loading-card-title {
    width: 100%;
}

.loading-card-artist {
    width: 60%;
}
