.arrows-container {
    display: flex;
    gap: 1rem;
}

.arrows-container button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.arrows-container:hover svg {
    fill: white;
}
