@import url('../Constants/Constants.css');

header {
    display: flex;
    position: relative;
    height: fit-content;
    z-index: 1;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 2rem 1rem 1rem;
    background: rgba(88, 88, 88, 0.2);
}

.header button,
.header a span,
.header > div:last-child {
    background: rgb(var(--background-base));
    border-radius: 2rem;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}
