@import url('../Constants/Constants.css');

.playlistitem {
    font-size: 1.6rem;
    text-overflow: ellipsis;
    list-style: none;
    position: relative;
}

.playlistitem > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
}

.playlistitem h2 {
    font-size: 2rem;
    text-align: left;
    margin-block: 1rem;
}

.playlistitem > div a {
    margin-left: 0.5rem;
    text-decoration: none;
}

.playlistitem h2,
.playlistitem > div a {
    white-space: nowrap;
    cursor: pointer;
}

.playlistitem h2:hover,
.playlistitem > div a:hover {
    text-decoration: underline;
}
