@import url('../Constants/Constants.css');

:root {
    --color-card: hsla(0, 0%, 100%, 0.1);
    --color-card-hover: hsla(0, 0%, 100%, 0.2);
}

#root:has(#parallax) {
    min-height: 100vh;
}

#root {
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: white 5px solid;
    border-radius: 2rem;
    padding: 5rem 4rem;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.4),
        inset 0px 0px 5px 5px rgba(255, 255, 255, 0.4);
}

.container h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.container div {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.container p {
    font-size: 3rem;
    font-weight: 600;
}

.container button {
    color: rgb(var(--SPOTIFY_DARK_GREY));
    background: rgb(var(--SPOTIFY_GREEN));
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    box-shadow: 5px 5px 3px rgb(var(--SPOTIFY_GREY));
    transition-duration: 150ms;
    cursor: pointer;
    font-weight: 800;
    font-size: 3rem;
}

.container button:hover {
    color: rgb(var(--SPOTIFY_GREY));
    box-shadow: none;
    translate: 5px 5px;
}

.linkToLinkedIn p {
    font-size: 1.6rem;
    text-align: center;
}

.linkToLinkedIn {
    position: absolute;
    display: flex;
    bottom: 1rem;
    left: 5rem;
    text-decoration: none;
    gap: 1rem;
    align-items: center;
}

.linkToLinkedIn img {
    height: 1.6rem;
}

/* Parallax background */

#parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 1;
    overflow: hidden;
}

#parallax img {
    position: absolute;
    width: auto;
    border-radius: 1rem;
    transition-duration: 100ms;
}

#parallax img:nth-child(1) {
    top: 5%;
    left: 5%;
    height: 400px;
    filter: blur(1px);
}

#parallax img:nth-child(2) {
    top: 5%;
    right: 5%;
    height: 300px;
    filter: blur(1px);
}

#parallax img:nth-child(3) {
    bottom: 13%;
    left: 17%;
    height: 300px;
    filter: blur(2px);
}

#parallax img:nth-child(4) {
    bottom: 21%;
    right: 4%;
    height: 300px;
    filter: blur(2px);
}

#parallax img:nth-child(5) {
    top: 30%;
    left: 23%;
    height: 400px;
    filter: blur(3px);
}

#parallax img:nth-child(6) {
    top: 11%;
    right: 30%;
    height: 300px;
    filter: blur(3px);
}

#parallax img:nth-child(7) {
    bottom: 2%;
    left: 4%;
    height: 350px;
    filter: blur(4px);
}

#parallax img:nth-child(8) {
    bottom: 3%;
    right: 39%;
    height: 300px;
    filter: blur(4px);
}
