@import url('../Constants/Constants.css');

.main-view {
    grid-area: main-view;
    padding-inline: 1rem;
    position: relative;
    isolation: isolate;
    animation: fadeOut 300ms ease-in-out forwards;
    animation-delay: 1s;
    overflow-y: overlay;
    overflow-x: hidden;
}

.main-view:hover {
    animation: fadeIn 300ms ease-in-out forwards;
}

.main-view::-webkit-scrollbar {
    background: none;
    scrollbar-gutter: stable both-edges;
    width: 10px;
}

.main-view::-webkit-scrollbar-thumb {
    background: var(--var1);
}

/* Initial value is set manualy, cant be a variable */
@property --var1 {
    syntax: '<color>';
    inherits: true;
    initial-value: rgba(83, 83, 83, 0.8);
}

@keyframes fadeIn {
    0% {
        --var1: transparent;
    }

    100% {
        --var1: rgba(var(--SPOTIFY_GREY), 0.8);
    }
}

@keyframes fadeOut {
    0% {
        --var1: rgba(var(--SPOTIFY_GREY), 0.8);
    }

    100% {
        --var1: transparent;
    }
}

.main-view:before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
        var(--var-color) 10rem,
        rgb(var(--background-base)) 60%
    );
    z-index: -1;
    border-radius: 1rem;
    animation: backgroundColor 360s infinite;
}

@property --var-color {
    syntax: '<color>';
    inherits: true;
    initial-value: rgba(83, 83, 83, 0.8);
}

@keyframes backgroundColor {
    0% {
        --var-color: rgba(12, 0, 66, 0.8);
    }

    10% {
        --var-color: rgba(3, 3, 82, 0.8);
    }

    20% {
        --var-color: rgba(6, 119, 163, 0.8);
    }

    30% {
        --var-color: rgba(0, 199, 172, 0.8);
    }

    40% {
        --var-color: rgba(1, 177, 103, 0.8);
    }

    50% {
        --var-color: rgba(40, 173, 0, 0.8);
    }

    60% {
        --var-color: rgba(201, 154, 0, 0.8);
    }

    70% {
        --var-color: rgba(221, 70, 0, 0.8);
    }

    80% {
        --var-color: rgba(99, 0, 0, 0.8);
    }

    90% {
        --var-color: rgba(92, 0, 69, 0.8);
    }

    100% {
        --var-color: rgba(34, 0, 73, 0.8);
    }
}

.main-view ul {
    max-width: 100%;
}
