.img-playlist-container {
    position: relative;
}

.img-playlist-list {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    width: 100%;
    aspect-ratio: 1;
}

.play-button {
    position: absolute;
    opacity: 0;
    background: rgb(var(--SPOTIFY_GREEN));
    border: none;
    border-radius: 100%;
    height: 44px;
    width: 44px;
    right: 8px;
    bottom: 0;
    transition-duration: 300ms;
    cursor: pointer;
}

.play-button:hover {
    transition-duration: 150ms;
    scale: 1.1;
}

.play-button svg {
    fill: black;
}
