@import url('../Constants/Constants.css');

.navItems {
    list-style: none;
    padding: 2rem;
}

.linkPage {
    text-decoration: none;
    color: var(--SPOTIFY_LIGHT_GREY);
    font-size: 1.6rem;
    font-weight: 600;
}

.linkPage svg {
    display: none;
    z-index: 2;
    color: white;
    fill: white;
}

.active {
    color: white;
}

.active svg:nth-child(1) {
    display: flex;
}

.active {
    border: red 1px solid;
}
