@import url('../Constants/Constants.css');

.container-buttons {
    display: flex;
    padding: 8px 16px;
}

svg {
    fill: white;
}

.biblio-button {
    background: none;
    border: none;
    cursor: pointer;
}

.biblio-expand {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.biblio-create-playlist {
    margin-left: auto;
}

.biblio-mode {
}

.biblio-more {
}
