.list-item-duration-container {
    display: flex;
    justify-content: end;
    align-items: center;
}

.list-item-like {
    margin-right: 16px;
}

.list-item-like,
.list-item-more-info {
    opacity: 0;
    background: none;
    border: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.list-item-like svg,
.list-item-more-info svg {
    fill: rgb(var(--SPOTIFY_LIGHT_GREY));
}

.list-item-like:hover svg,
.list-item-more-info:hover svg {
    fill: white;
}

.list-item-duration {
    margin-left: auto;
    margin-right: 16px;
}
