:root {
    --SPOTIFY_GREEN: 30, 215, 96;
    --SPOTIFY_BLACK: 25, 20, 20;
    --SPOTIFY_DARK_GREY: 33, 33, 33;
    --SPOTIFY_GREY: 83, 83, 83;
    --SPOTIFY_LIGHT_GREY: 179, 179, 179;
    --SPOTIFY_WHITE: 255, 255, 255;

    --background-base: 18, 18, 18;
    --background-card: 24, 24, 24;
    --background-card-hover: 40, 40, 40;

    --background-body: black;

    --height-current-track-image: 300px;

    --four-colomns-width: 1300px;
    --three-colomns-width: 900px;
}
