@import url('../../../../Constants/Constants.css');

.list-section-container {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
}

.list-section-container * {
    color: rgb(var(--SPOTIFY_LIGHT_GREY));
}
