.recent-container,
.all-container {
    list-style: none;
    font-size: 1.6rem;
    text-overflow: ellipsis;
    list-style: none;
    position: relative;
}

.recent-container {
}

.all-container {
}

.playlistitem {
}

.recent-container > div:nth-child(1),
.all-container > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
}

.recent-container > div:nth-child(1) a:nth-child(1),
.all-container > div:nth-child(1) {
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    margin-block: 1rem;
}

.recent-container > div:nth-child(1) a:nth-child(2) {
    margin-left: 0.5rem;
}

.recent-container > div:nth-child(1) a {
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.recent-container > div:nth-child(1) a:hover {
    text-decoration: underline;
}
