.main-content {
    --panel-gap: 8px;

    display: grid;
    position: relative;
    gap: var(--panel-gap);
    grid-template-areas:
        'left-sidebar    main-view      '
        'now-playing-bar now-playing-bar';
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    height: 100%;
    min-height: 100%;
    width: 100%;
    grid-auto-flow: column;

    align-self: stretch;
}
