.song-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-width: 40rem;
}

.song-info span {
    text-align: left;
    font-size: 1.2rem;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.song-info span:hover {
    text-decoration: underline;
}

.song-info span:nth-child(1) {
    font-weight: 600;
    font-size: 1.6rem;
}

.like {
}

.photo-dans-photo {
}
