.current-track-img {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 300px;
    width: auto;
    translate: 0 100%;
    animation: slideInImage 300ms forwards;
    padding: 0;
    z-index: -1;
}

@keyframes slideInImage {
    to {
        translate: 0 calc(-100% - 8px);
    }
}
