@import url('../Constants/Constants.css');

.time-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.time {
    min-width: 25px;
    font-weight: 500;
    color: rgb(var(--SPOTIFY_LIGHT_GREY));
}

.track-progress {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: rgb(var(--SPOTIFY_GREY));
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    position: absolute;

    width: 100%;
    height: 5px;

    top: 0;
    left: 0;

    border-radius: 5px;
    background-color: white;
    transform: translateX(calc(-100% - 1px));
}

.cursor {
    position: absolute;
    display: none;
    content: '';
    width: 12px;
    height: 12px;
    background-color: rgb(204, 204, 204);
    top: -4px;
    right: -4px;
    border-radius: 100%;
}

.track-progress:hover .cursor {
    display: block;
}

.track-progress:hover .progress-bar {
    background-color: rgb(var(--SPOTIFY_GREEN));
}
