@import url('../Constants/Constants.css');

.buttons-container {
    display: flex;
    margin-bottom: 1rem;
}

.buttons-container button {
    margin-inline: 1rem;
    align-items: center;
}

.buttons-container button:active {
    scale: 1.1;
}

.buttons-container div svg {
    fill: rgb(var(--SPOTIFY_LIGHT_GREY));
}

.buttons-container div svg:hover {
    fill: white;
}

.left-buttons,
.right-buttons {
    display: flex;
    flex-direction: row;
}

.shuffle-button {
}

.back-button {
}

.pause-button,
.play-button {
    width: 16px;
    height: 16px;
    fill: rgb(var(--background-body));
}

button[aria-label='Pause'] {
    background-color: white;
    border-radius: 32px;
    width: 32px;
    height: 32px;
}

button[aria-label='Pause']:hover {
    scale: 1.05;
}

.play-button path {
}

.next-button {
}

.loop-button {
}

.activeBtn[aria-label='Activer la lecture aléatoire'] svg,
.activeBtn[aria-label='Activer Répéter'] svg {
    fill: rgb(var(--SPOTIFY_GREEN));
}

.activeBtn[aria-label='Activer la lecture aléatoire']:hover svg,
.activeBtn[aria-label='Activer Répéter']:hover svg {
    fill: rgb(var(--SPOTIFY_GREEN));
}
