@import url('../Constants/Constants.css');

.playlistitem {
    font-size: 1.6rem;
    text-overflow: ellipsis;
    list-style: none;
}

.playlistitem > div {
    display: flex;
    align-items: center;
}

.playlistitem h2 {
    font-size: 2rem;
    text-align: left;
    margin-block: 1rem;
    flex-grow: 1;
}

.playlistitem > div p {
    margin-left: 0.5rem;
}

.playlistitem h2,
.playlistitem > div p {
    white-space: nowrap;
    cursor: pointer;
}

.playlistitem h2:hover,
.playlistitem > div p:hover {
    text-decoration: underline;
}
