.img-playlist-list {
    width: 100px;
}

.playlists-container {
    display: flex;
    overflow-x: hidden;

    scroll-behavior: smooth;

    --grid-gap: 24px;
    --column-count: 10;
    --min-container-width: 366px;

    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
    min-width: var(--min-container-width);

    overflow-x: scroll;
}

.playlists-container::-webkit-scrollbar {
    display: none;
}

.playlists-container > div {
    padding: 1.6rem;
    background-color: #181818;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.playlists-container > div:hover {
    background-color: #282828;
}
